* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Space Grotesk";
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color: #1f7496;
  --error-color: #ce1919;
  --color-300: oklch(from var(--color) 0.25 c h);
  --bg-color: oklch(from var(--color) 0.1 c h);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

.title {
  letter-spacing: -0.045em;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.1em;
}

.icon {
  height: 1.2em;
}

body {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}

#root {
  width: 100vw;
  min-height: 100dvh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-image: radial-gradient(circle,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px);
  background-size: 25px 25px;
  background-position: 0 0;
}

.search-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 2em;

  header {
    padding: 0 0.5em;

    h1 {
      font-size: 2.5em;
      line-height: 0.9;
      gap: 0.5em;
      justify-content: space-between;
    }
  }
}

.search-form {
  background: var(--color-300);
  padding: 0.8em;
  padding-left: 1.5em;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8em;
  gap: 0.5em;
  position: relative;
  transition: all 0.3s ease;
  border: 2px solid transparent;

  &.error {
    border-color: var(--error-color);
  }

  p.error {
    color: var(--error-color);
    font-size: 1em;
    margin-top: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: -1;

    &.hidden {
      transform: translateX(-50%) translateY(-150%);
    }
  }

  input {
    flex: 1;
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 1.1em;
    z-index: 2;

    &::placeholder {
      color: oklch(from var(--color) 0.9 c h / 0.5);
    }
  }

  button {
    background: var(--color);
    line-height: 0;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.4em;
    font-size: 1.2em;

    .icon {
      stroke-width: 2;
    }
  }
}

.country-info {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;

  header,
  section,
  .btn-back {
    padding: 1.5em;
    background: oklch(from var(--color) 0.4 c h);
  }

  header {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    flex-wrap: wrap;

    .imgs {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      gap: 1em;

      img {
        height: 100px;
        border-radius: 0.5em;
        object-fit: contain;
      }
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      h1 {
        font-size: 3em;
        line-height: 0.9;
      }

      p {
        line-height: 1;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .row {
      gap: 0.5em;
    }

    .content {
      display: flex;
      align-items: start;
      gap: 0.5em;
      flex-wrap: wrap;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2em;

        .icon {
          flex-shrink: 0;
        }

        p {
          width: 100%;
          background: var(--color-300);
          border-radius: 9999px;
          padding: 0.5em 1em;
          line-height: 0.9;
          font-weight: 500;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }

  .btn-back {
    position: absolute;
    left: 0;
    bottom: calc(100% + 0.5em);
    border: none;
    color: #fff;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
}

.borders-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.languages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    background: var(--color-300);
    border-radius: 9999px;
    padding: 0.5em 1em;
    flex: 1;
    font-size: 0.9em;
    text-align: center;

    p {
      text-wrap: nowrap;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.border-country {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
  padding: 0.5em 0.8em;
  border-radius: 9999px;
  background: var(--color-300);
  cursor: pointer;
  font-size: 0.9em;

  p {
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
  }

  img {
    height: 1.1em;
    border-radius: 0.2em;
    object-fit: contain;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px);
  z-index: 10;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -0.03em;
  opacity: 1;
  transition: none;

  .icon {
    stroke-width: 2.5;
    animation: spin 2s linear infinite;
  }

  &.hidden {
    display: none;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      display 0.5s ease allow-discrete;
  }

  @starting-style {
    opacity: 0;
  }
}

.history-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;


  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .history-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
  }

  .history-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: var(--color-300);
    padding: 0.5em;
    border-radius: .3em;
    font-size: 0.8em;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.01) translateY(-10px);
    }

    img {
      width: 40px;
      border-radius: 0.3em;
      object-fit: contain;
    }

    p {
      font-weight: 500;
      font-size: 1.3em;
      letter-spacing: -0.03em;
    }
  }
}