* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Space Grotesk";
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color: #1f7496;
  --color-300: oklch(from var(--color) 0.25 c h);
  --bg-color: oklch(from var(--color) 0.1 c h);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

.title {
  letter-spacing: -0.045em;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.1em;
}

.icon {
  height: 1.2em;
}

#root {
  width: 100vw;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px);
  background-size: 25px 25px;
  background-position: 0 0;
}

.search-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.search-form {
  background: var(--color-300);
  padding: 0.8em;
  padding-left: 1.5em;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8em;
  gap: 0.5em;

  input {
    flex: 1;
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 1.1em;

    &::placeholder {
      color: oklch(from var(--color) 0.9 c h / 0.5);
    }
  }

  button {
    background: var(--color);
    line-height: 0;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1em;

    .icon {
      stroke-width: 2;
    }
  }
}

.country-info {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;

  header,
  section,
  .btn-back {
    padding: 1.5em;
    background: oklch(from var(--color) 0.4 c h);
  }

  header {
    display: flex;
    gap: 1em;

    img {
      height: 100px;
      max-width: 40%;
      border-radius: 0.5em;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .row {
      gap: 0.5em;
    }

    .content {
      display: flex;
      align-items: start;
      gap: 0.2em;
      flex-wrap: wrap;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2em;

        p {
          background: var(--color-300);
          border-radius: 9999px;
          padding: 0.5em 1em;
          line-height: 1;
        }
      }
    }
  }

  .btn-back {
    position: absolute;
    left: 0;
    bottom: calc(100% + 0.5em);
    border: none;
    color: #fff;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
}

.borders-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.languages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    background: var(--color-300);
    border-radius: 9999px;
    padding: 0.5em 1em;
    flex: 1;
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9em;
    text-align: center;
  }
}

.border-country {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
  padding: 0.5em 0.8em;
  border-radius: 9999px;
  background: var(--color-300);
  cursor: pointer;
  font-size: 0.9em;

  p {
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
  }

  img {
    height: 1.1em;
    border-radius: 0.2em;
    object-fit: contain;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px);
  z-index: 10;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -0.03em;
  opacity: 1;
  transition:
    opacity 0.5s ease,
    display 0.5s ease allow-discrete;

  .icon {
    stroke-width: 2.5;
    animation: spin 2s linear infinite;
  }

  &.hidden {
    display: none;
    opacity: 0;
  }

  @starting-style {
    opacity: 0;
  }
}